body{
    background-color: antiquewhite;
    background-image: url(https://w0.peakpx.com/wallpaper/779/423/HD-wallpaper-abstract-geometric-azul-ligth-minimalist-simple.jpg);
}
    .flex-container{
        display: flexbox;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-around;
    }
    div{
        margin-left: auto;
        margin-right: auto;
    }
        h1{
            color: brown;
        }

        img{
            width: 400px;
        }
        #thirdDiv{
            height: 600px;
             width: 500px; 
             background-color: cadetblue;
             padding: 50px;
             border: 10px solid; color: aqua;
        }
        #spanId{
             font-size: 18px;
             margin: 50px;
        }
